<button type="button" class="btn btn-light pull-right" id="SignIn">
    <span class="glyphicon glyphicon-log-in"> </span> @Html.ActionLink("Sign In", "Login", "Account")
</button>

<button type="button" class="btn btn-light pull-right" id="Register">
    <span class="glyphicon glyphicon-user"> </span>  @Html.ActionLink("Register", "Register", "Account")
</button>
